.header {
    padding: 20px;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        width: 100px;
    }

    nav ul {
        display: flex;
        gap: 10px;
    }
}